.header {
    text-align: center;
    padding: 20px;

    .logoContainer {
        margin-bottom: 18px;
    }

    .logo {
        width: 160px;
        border-radius: 50%;
    }

    .title {
        font-size: 32px;
        color: #ffffff;
    }
}